<ion-view class="slide-left-right">

	<ion-nav-buttons>
		<h1 class="title">Sobre</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="myGoBack()"><i class="ion-android-close"></i></button>
		</div>
	</ion-nav-buttons>

	<ion-content class="has-header" overflow-scroll="false" padding="true">


		<div class="list card">

			<div class="item item-avatar">
				<img src="img/sos.png">
				<h2>SOS Mulheres</h2>
			</div>

			<div class="item item-body">
				<img class="full-image" src="img/logo.png">
				<p>O projeto SOS Mulheres tem como principal objetivo, </p>
			</div>

		</div>

		


	</ion-content>
</ion-view>