<ion-view>
	<ion-tabs style="" class="tabs-positive tabs-icon-only">
		<ion-tab style="" icon="icon ion-ios-information-outline" nav-direction="forward" href="#/sidemenu/tabview/home">
			<ion-nav-view name="tab1" ></ion-nav-view>
		</ion-tab>
		<ion-tab style="" icon="icon ion-map" nav-direction="forward" href="#/sidemenu/tabview/map">
			<ion-nav-view name="tab2"></ion-nav-view>
		</ion-tab>
		<ion-tab style="" icon="icon ion-pie-graph" nav-direction="forward" href="#/sidemenu/tabview/grafic">
			<ion-nav-view name="tab3"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>