<ion-view>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon icon-right"></button>
		<h1 class="title">Home</h1>
	</ion-nav-buttons>

	<ion-content ng-controller="DashController" class="has-header" overflow-scroll="false" padding="true">
		

		<div ng-if="storage.account">
			
		</div>
		<div class="card card-dif" style="background-color: #f0bfe8">
			<div class="item item-divider">
				Como denunciar?
			</div>
			<div class="item item-text-wrap">
				A denúncia de violência doméstica pode ser feita em qualquer delegacia, com o registro de um boletim de ocorrência, ou pela Central de Atendimento à Mulher <a href="tel:190">Ligue 190.</a>
			</div>
		</div><div class="card card-dif" style="background-color: #f0bfe8">
			<div class="item item-divider">
				O que acontece com o agressor?
			</div>
			<div class="item item-text-wrap">
				Ao registrar o boletim de ocorrência em uma delegacia, a mulher pode entrar com uma medida protetiva sob a Lei Maria da Penha que obriga o agressor a se manter longe dela. "A PM acompanha as mulheres que estão sob medida protetiva para fazer com que tenha efeito de fato", explica. Caso o agressor viole a ordem judicial, é preciso fazer um novo boletim de ocorrência, que pode resultar na prisão dele.
			</div>
		</div>

		<hr>



	</ion-content>
</ion-view>